.add-attachments{
    padding: 0 8px 8px 8px;
    h3{
        margin-inline-start: 8px;
    }
    button{
        @include control-btn;
        margin-inline-start: 8px;
        margin-top: 8px;
    }
}