
.add-date {
    padding: 8px;
    // position: relative;
}

.add-to-card {
    .vd-wrapper{
        box-shadow: unset
    }
    .vd-picker{
        box-shadow: unset;
        .vd-picker-header{
            background-color: $clr5!important;
            color: $clr1!important;
        }
    }

}

.remove-date {
    @include control-btn;
    width: 100%;
    margin-bottom: 8px;
}
