.add-member {
    padding: 8px;
    img {
        width: 32px;
        border-radius: 50%;
        background-color: $clr3;
    }

    h3{
        color: $clr2;
    }

    h5{
       margin-bottom: 8px;
    }
    input[type="text"] {
        &:focus {
            box-shadow: inset 0 0 0 2px #0079bf;
        }
    }
}

.user-member{
    button{
        margin: 2px auto;
        color: $clr1;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: unset;
        >*{
            margin-inline-end: 6px;
        }
        &:hover{
            background-color: $clr4;
        }
    }
}
