.add-label{
    padding: 12px;
}

.choose-label {
    padding: 0px 28px 12px 0px;
}
.label-picker {
    color: white;
}
.label-colors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    height: 100%;
    padding: 12px;
    border-radius: 3px;
}
.create-label {
    .add-label-btns {
        display: flex;
        justify-content: space-between;
        padding: 2px;
        button {
            color: white;
            background-color: #b04632;
            padding: 8px 14px;
            &:first-of-type {
                background-color: #0079bf;
            }
        }
    }
    ul {
        display: grid;
        padding-left: 2px;
        grid-template-columns: repeat(5, 1fr);
    }
}

.card-label-color {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    margin: 0 8px 8px 0;
    padding: 0;
    width: 48px;
    cursor: pointer;
    border-radius: 4px;
    &:hover {
        filter: brightness(110%);
    }
}

.card-label {
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 100%;
    height: 30px;
    margin-bottom: 4px;
    border-radius: 3px;
    transition: 80ms;

    a {
        position: absolute;
        text-align: center;
        padding-top: 6px;
        right: -36px;
        top: 0;
        width: 32px;
        height: 32px;
        border-radius: 3px;
        color: $clr1;
        text-decoration: none;
        &:hover {
            background-color: $clr3;
        }
        &::before {
            font-family: fontAwesome, sans serif;
            content: "\f304";
        }
    }
    &:hover {
        box-shadow: -8px 0 rgba(104, 104, 110, 0.397);
        // box-shadow: -8px 0 ;
        // width: 50px;
        margin-left: 4px;
    }
}

.create-new-label {
    margin: 6px 0;
    width: 100%;
    height: 36px;
    background: #0079bf;
    color: white;
    &:hover {
        filter: brightness(105%);
    }
}

.labels-back {
    position: absolute;
    left: 7px;
    color: $clr2;
    background-color: unset;
    &:hover {
        color: $clr1;
    }
    &::before {
        font-family: fontAwesome, sans serif;
        content: "\f053";
    }
}

.create-label-btn {
    margin-top: 8px;
    color: $clr1;
    border-radius: 3px;
    width: 100%;
    padding: 10px;
    &:hover {
        background-color: $clr3;
    }
}
