.board-menu {
    z-index: 1;
    border-radius: 3px;
    padding: 8px;
    padding-bottom: 24px;
    position: absolute;
    left: 0;
    top: 43px;
    width: 300px;
    background-color: $clr5;
    color: black;
    input[type="text"] {
        @include trello-txt;
        &:focus {
            box-shadow: inset 0 0 0 2px #0079bf;
        }
        margin: 0;
    }
    a {
        display: block;
        margin-inline-start: 20px;
        margin-top: 20px;
        color: $clr2;
        &:hover {
            color: $clr1;
        }
    }
}

.board-menu-header {
    display: flex;
    align-items: center;
    button {
        color: $clr2;
        height: 32px;
        width: 32px;
        background-color: transparent;
        &:hover {
            color: $clr1;
        }
        &::before {
            font-size: 18px;
            font-family: fontAwesome, sans serif;
            content: "\f00d";
        }
    }
}

.board-menu-content {
    button {
        font-weight: 600;
        position: relative;
        width: 100%;
        padding: 0;
        margin: 6px 0;
        display: flex;
        background-size: 300px;
        background-repeat: no-repeat;
        object-fit: fill;
        &:hover {
            filter: brightness(110%);
        }
    }
    img {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        height: 36px;
        width: 36px;
        object-fit: cover;
    }
    .board-bar-color {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        // height: 36px;
        width:88%;
    }
}

.board-bar {
    display: flex;
    justify-content: space-between;
    .board-remove {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        font-size: 18px;
        width: 36px;
        height: 36px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: #b04632;
        &::before {
            font-family: fontAwesome, sans serif;
            content: "\f00d";
        }
    }
}
.diffuser {
    position: absolute;
    top: 0;
    right: 0;
    width: 248px;
    height: 100%;
    background-color: rgba($color: #ffffff, $alpha: 0.4);
    text-align: left;
    padding: 8px;
}

.starred-boards {
    width: 100%;
    color: $clr2;
    margin-inline-start: 14px;
    margin-top: 16px;
    margin-bottom: 8px;
    &::before {
        margin-inline-end: 6px;
        font-family: fontAwesome, sans serif;
        content: "\f005";
    }
}
