.card-preview {
    position: relative;
    background-color: #ffffff;
    margin: 0px 4px 8px;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);

    &:hover {
        cursor: pointer;
        background-color: #f7f7f7;
        > .edit-card-preview {
            opacity: 1;
            background-color: rgba($color: #f7f7f7, $alpha: 0.4);
            &:hover {
                background-color: $clr4;
            }
        }
    }

    &.dragging > * {
        background-color: $clr3;
        border-radius: 3px;
        > * {
            visibility: hidden;
        }
    }

    .card-preview-members {
        margin-top: 2px;
        display: flex;
        justify-content: flex-end;
        flex: 1;
    }

    .card-preview-member {
        position: relative;
        overflow: hidden;
        margin: 0 2px;
        width: 28px;
        height: 28px;
        background-color: $clr3;
        border-radius: 50%;
        img {
            right: 0px;
            top: 0;
            position: absolute;
            width: 28px;
            height: 28px;
            object-fit: contain;
        }
        &:hover {
            filter: brightness(80%);
        }
    }
}

.card-preview-bottom {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    justify-content: space-between;
    margin-bottom: 6px;
}

.card-preview-title {
    margin-bottom: 4px;
    margin-left: 2px;
}
.card-preview-badges {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: $clr2;
    gap: 10px;
}

.edit-card-preview {
    position: absolute;
    border-radius: 3px;
    margin: 2px 2px 0 0;
    right: 0;
    top: 0;
    opacity: 0;
    width: 28px;
    height: 28px;
    &:hover {
        background-color: $clr3;
    }
    &::before {
        font-family: fontAwesome, sans serif;
        content: "\f304";
    }
}

.card-preview-cover-img {
    border-radius: 3px 3px 0 0;
    max-height: 260px;
    object-fit: contain;
}

.card-preview-cover {
    height: 32px;
    border-radius: 3px 3px 0 0;
}

.card-preview-content {
    min-height: 20px;
    padding: 8px 6px 2px;
}

.card-preview-labels {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    &:hover {
        filter: brightness(90%);
    }
    > * {
        div {
            margin: 2px 2px;
            min-height: 8px;
            min-width: 40px;
            border-radius: 50px;
            @keyframes label-grow {
                // 0% {
                //     width: 40px;
                //     height: 8px;
                // }
                50%{
                    min-width: 56px;
                    max-width: fit-content;
                    height: 8px;
                    // max-width: fit-content;
                }
                100% {
                    min-width: 56px;
                    max-width: fit-content;
                    height: 16px;
                }
            }
        }
    }

    .preview-label {
        font-size: 12px;
            animation: label-grow ease normal forwards 1000ms;
    }
}

.label-grow-enter-active {
    transition: all 1s ease;
}

.label-grow-leave-active {
    transition: all 1s ease;
}

.label-grow-enter, .label-grow-leave-to {
    width: 150px;
}


.card-preview-date {
    font-weight: 400;
    border-radius: 3px;
    padding: 2px 6px;
    margin-right: 6px;
    max-height: 24px;
    margin-right: 0;
    &:hover {
        background-color: $clr3;
        padding: 2px 5.9px;
        &::before {
            padding-left: 2px;
            font-family: fontAwesome, sans serif;
            content: "\f0c8";
        }
    }
    &::before {
        font-family: fontAwesome, sans serif;
        content: "\f017";
    }
}

.date-done {
    color: white;
    background-color: #61bd4f;
    &:hover {
        background-color: #61bd4f;
        filter: brightness(90%);
        &::before {
            padding-left: 1.8px;
            font-family: fontAwesome, sans serif;
            content: "\f14a";
        }
    }
}

.checklist-done {
    color: white;
    background-color: #61bd4f;
}

.card-preview-desc::before {
    font-family: fontAwesome, sans serif;
    content: "\f036";
}

.card-preview-comments::before {
    font-family: fontAwesome, sans serif;
    content: "\f075";
}

.card-preview-attachments::before {
    font-family: fontAwesome, sans serif;
    content: "\f0c6";
}

.card-preview-checklists {
    font-weight: 400;
    border-radius: 3px;
    padding: 2px 6px;
    margin-right: 6px;
    max-height: 22px;
    &::before {
        font-family: fontAwesome, sans serif;
        content: "\f14a";
    }
}

.moving-card {
    box-shadow: unset;
    &:hover {
        opacity: 0;
    }
}

