.dashboard {
    z-index: 0;
    position: fixed;
    inset: 0;
    margin: auto;
    text-align: center;
    width: 960px;
    height: 580px;
    background-color: $clr5;
    overflow: hidden;
    overflow-y: auto;
    text-align: center;
    padding-top: 12px;
    border-radius: 3px;
    // box-shadow: 0 8px 16px -4px #091e04, 0 0 0 1px #091e08;
    h1 {
        font-size: 3rem;
        color: $clr1;
        margin-bottom: 20px;
    }
    h2 {
        font-size: 1.8rem;
        margin-bottom: 12px;
        color: $clr1;
    }
    .close-dashboard {
        background-color: transparent;
        position: absolute;
        top: 12px;
        right: 12px;
        font-size: 40px;
        color: $clr2;
        &::before {
            font-family: fontAwesome, sans serif;
            content: "\f00d";
        }
        &:hover {
            color: $clr1;
        }
    }
    @media (max-width: 960px) {
        height: 100vh;
        width: 100%;
        top: 80px;
    }
    .charts-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 940px;
        justify-items: center;
        margin: 0 auto;
        > * {
            margin-bottom: 24px;
            border-radius: 6px;
            &:not(:first-child) {
                box-shadow: 0 1px 1px 0px $clr2;
                background-color: #f4f5f770;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 12px;
            }
        }
        @media (max-width: 960px) {
            grid-template-columns: 1fr;
            // margin-bottom: 40px;
        }
    }
    .doughnut-chart {
        width: 90%;
        padding: 0;
        margin: 0;
    }
    .bar-chart {
        width: 90%;
        padding: 0;
        margin: 0;
    }
    .pie-chart {
        width: 90%;
        padding: 0;
        margin: 0;
    }
    .chart-basic {
        width: 100%;
        max-width: 300px;
        margin-bottom: 5px;
        // &:nth-child(4) {
        //     grid-column: 1 / -1;
        //     width: 100%;
        // }
        @media (max-width: 960px) {
            margin-bottom: 12px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

.dashboard-details {
    grid-column: 1 / -1;
    color: $clr1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    justify-items: center;
    @media (max-width: 960px) {
        grid-template-columns: 1fr 1fr;

    }
    h3 {
        font-size: 1.4rem;
        margin-bottom: 10px;
        color: $clr2;
    }

    > * {
        background-color: #f4f5f770;
        height: 120px;
        width: 223px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        box-shadow: 0 1px 1px 0px $clr2;
        @media (max-width: 960px) {
            width: 180px;
        }
        h4 {
            font-size: 32px;
        }
        h3 {
            margin: 0;
        }
    }
}

.dash-members::before{
    font-family: fontAwesome, sans serif;
    content: '\f0c0'
}

.dash-tasks::before{
    font-family: fontAwesome, sans serif;
    content: '\f0ae'
}


.dash-assigned-tasks::before{
    font-family: fontAwesome, sans serif;
    content: '\f63d'
}


.dash-date::before{
    font-family: fontAwesome, sans serif;
    content: '\f073'
}

