.date{
    button{
        background-color: $clr4;
        border: none;
        height: 32px;
        border-radius: 3px;
        &::after{
            font-family: fontAwesome, sans serif;
            content:'\f078';
            margin-left: 6px;
            padding-right: 6px;
        }
    }
}

.is-complete{
    padding: 1px 1px 1px 4px;
    border-radius: 3px;
    background-color: #61bd4f;
    color: white;
}
