.group {
    min-width: 272px;
    max-width: 272px;
    margin: 6px 0 0 8px;
    padding: 0 4px;
    height: fit-content;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $clr4;
    border-radius: 3px;
    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background: #dadbe2;
        border-radius: 20px;
    }

    ::-webkit-scrollbar-thumb {
        background: #bfc4ce;
        border-radius: 20px;
    }

    button {
        color: $clr2;
        border-radius: 3px;
        border: none;
        background-color: inherit;
        padding: 10px;
        margin-left: 1px;
        display: flex;
        align-items: center;
        &:hover {
            color: $clr1;
            cursor: pointer;
        }
    }
}

.group-header {
    font-weight: 600;
    min-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    padding-left: 16px;
    textarea {
        background: transparent;
        border-radius: 3px;
        box-shadow: none;
        font-weight: 600;
        margin: -4px 0;
        height: 20px;
        min-height: 20px;
        // padding: 4px 8px;
        resize: none;
        max-height: 256px;
        overflow: hidden;
        overflow-wrap: break-word;
        height: 28px;
        padding-top: 6px;
        width: 209px;
    }
    button {
        width: 32px;
        height: 32px;
        &::before {
            font-family: fontAwesome, sans serif;
            content: "\f141";
        }
        &:hover {
            background-color: $clr3;
        }
    }
}

.group-content {
    max-height: 78vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.group-footer {
    height: 38px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    button {
        color: $clr2;
        display: block;
        text-align: start;
        padding: 8px;
        margin: 0px 4px 8px;
        height: 28px;
        line-height: 10px;
        &::before {
            font-family: fontAwesome, sans serif;
            content: "\f067";
        }
        &:hover {
            color: $clr1;
            background-color: #d9dce2;
        }
    }
}
.add-card-area {
    margin: 4px;
    .add-card-controls {
        display: flex;
        align-items: center;
        margin-top: 2px;
        height: 32px;
        button:first-of-type {
            background-color: #0079bf;
            padding: 6px 12px;
            color: white;
            line-height: 20px;
            margin: 0 6px 0 0;
            &:hover {
                background-color: #056ba7;
            }
        }
    }
    .close-adding {
        width: 32px;
        color: #5e6c84;
        &:hover {
            background-color: none;
            color: $clr1;
        }
        &::before {
            font-size: 24px;
            font-family: fontAwesome, sans serif;
            content: "\f00d";
        }
    }

    textarea {
        border-radius: 3px;
        resize: none;
        min-width: 256px;
        max-width: 256px;
        background-color: #ffffff;
        border: none;
        height: auto;
        margin-bottom: 4px;
        max-height: 162px;
        min-height: 54px;
        overflow-y: auto;
        outline: none;
    }
}

.moving-group {
    background-color: rgba($color: #2c2c2c, $alpha: 0.4);
    > * {
        opacity: 0;
    }
}
