.home {
    // width: 100vw;
    button {
        padding: 14px 36px;
        background-color: #0065ff;
        color: $clr5;
        font-size: 18px;
    }
    .background {
        background: linear-gradient(
            180deg,
            rgba(#0065ff, 0.3) 0%,
            rgba(0, 101, 255, 0.2) 10%,
            rgba(0, 101, 255, 0.1) 30%,
            rgba(0, 101, 255, 0) 50%,
            rgba(255, 255, 255, 1) 80%
        );
        // background-size: cover;
        // background-position-x: 40%;
        // background-image: url(https://img2.storyblok.com/f/84907/2560x1280/807c0c915f/the-syren.jpg);
    }

    .yuumi {
        top: 30px;
        width: 200px;
        height: 200px;
        position: absolute;
        right: -40px;
        transform: rotate(-0.1turn);
    }

    .yuumi-container {
        animation: yuumiMove ease normal forwards 1000ms;
    }
    @keyframes yuumiMove {
        0% {
            transform: translateX(330px);
        }
        100% {
            transform: translateX(0px);
        }
    }
}

.home-header {
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
}

.home-header-btns {
    display: flex;
    align-items: center;
    button {
        margin-inline-start: 8px;
        padding: 8px;
        &:first-of-type {
            background-color: transparent;
            color: #0065ff;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.home-header-user {
    display: flex;
    align-items: center;
    button {
        display: flex;
        align-items: center;
        margin-inline-start: 8px;
        font-size: 14px;
        height: 40px;
    }
}

.home-logo {
    display: flex;
    align-items: center;
    img {
        margin-bottom: 16px;
        height: 50px;
        width: 143px;
    }
    h1 {
        font-weight: 700;
        font-size: 40px;
    }
}

.hero {
    position: relative;
    padding:20px;
    // width: 1300px;
    h2 {
        font-weight:700;
        font-size: 40px;
        padding-bottom: 46px;
        max-width: 24ch
    }
    h3 {
        font-size: 20px;
        padding-bottom: 24px;
        width: 400px;
        max-width: 40ch
    }
    img {
        position: absolute;
        
        border-radius: 3px;
        top: 70px;
        right: 0px;
        display: none
    }
    margin: 100px auto 200px;

    @include for-narrow-layout {
        max-width: $break-narrow;
        img {
        }
    }

    @include for-normal-layout {
        max-width: $break-normal;
        img {
            width: 400px;
            top: 110px;
            display: inline
        }
        h2 {
            font-size: 50px;
        }
        h3 {
            font-size: 20px;
            max-width: 15ch
        }
    }
    @include for-wide-layout {
        max-width: 1150px;
        img {
            width: 580px;
        }
        h2 {
            font-size: 70px;
        }
        h3 {
            font-size: 27px;
            max-width: 27ch
        }
    }
}

.login {
    padding: 40px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border-radius: 3px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 0px;
    text-align: center;
    height: 600px;
    max-width: 400px;
    h3 {
        font-size: 20px;
        padding-bottom: 24px;
    }
    .close-modal {
        position: absolute;
        right: 14px;
        top: 14px;
        padding: 0;
        background-color: transparent;
        color: $clr2;
        &:hover {
            color: $clr1;
        }
    }
    label {
        text-align: left;
    }
}
.signup-form {
    margin-bottom: 40px;
    button {
        width: 100%;
    }
}
.signup-inputs {
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;

    input[type="text"] {
        @include trello-txt;
        margin: 0;
        width: 100%;
        margin-bottom: 8px;
    }
    input[type="password"] {
        @include trello-txt;
        margin: 0;
        width: 100%;
        margin-bottom: 8px;
    }
}

.login-form {
    button {
        height: 46px;
        width: 100%;
    }
}

.login-inputs {
    display: flex;
    flex-direction: column;
    input[type="text"] {
        @include trello-txt;
        margin: 0;
        width: 100%;
        margin-bottom: 8px;
    }
    input[type="password"] {
        @include trello-txt;
        margin: 0;
        width: 100%;
        margin-bottom: 8px;
    }
    label {
        padding-bottom: 2px;
    }
}

.board-btn {
    position: relative;
    height: 100px;
    text-align: left;
    h2 {
        width: 100%;
        background-color: rgba($color: #000000, $alpha: 0.3);
        padding: 6px;
        font-size: 16px;
        font-weight: 600;
        position: absolute;
    }
}

.home-boards {
    max-width: 907px;
    margin: 50px auto 0;
    padding: 30px;
    .boards-headline{
        display: inline-block;
        line-height: 24px;
        margin: 6px 0 0;
        margin-bottom: 8px;
        font-weight: 700;
        font-size: 16px;
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        // color: #172b4d;
        // font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    }
}

.boards-username {
    position: relative;
    padding: 10px 0;
    padding-right: 12px;
    padding-inline-start: 42px;
    img {
        background-color: $clr3;
        border-radius: 50%;
        left: 0;
        position: absolute;
        height: 34px;
        width: 34px;
        display: inline;
    }
    .to-user{
        position: absolute;
        left: 0;
    }
    h2 {
        font-weight: 600;
        display: inline;
    }
    margin-bottom: 20px;

}

.board-display {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 12px;
    // grid-auto-rows: 140px;
    row-gap: 24px;
    img {
        // flex-basis: 140px;
        flex: 1;
        height: 96px;
        width: 1fr;
        max-width: 198px;
        object-fit: cover;
    }
    div {
        width: 100%;
        height: 100%;
    }
    button {
        border-radius: 4px;
        max-width: 198px;
        > * {
            border-radius: 4px;
        }
        background-color: transparent;
        padding: 0;
        height: 96px;
        &:hover {
            filter: brightness(110%);
        }
    }
    &.starred {
        margin-bottom: 40px;
    }
    h2 {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}
