.home {
    width: 100vw;
    button {
        padding: 14px;
        background-color: #0065ff;
        color: $clr4;
        font-size: 18px;
    }
    .background {
        background: linear-gradient(
            180deg,
            rgba(#0065ff, 0.3) 0%,
            rgba(0, 101, 255, 0.2) 10%,
            rgba(0, 101, 255, 0.1) 20%,
            rgba(0, 101, 255, 0) 30%,
            rgba(255, 255, 255, 1) 60%
        );
        // background-size: cover;
        // background-position-x: 40%;
        // background-image: url(https://img2.storyblok.com/f/84907/2560x1280/807c0c915f/the-syren.jpg);
    }

    .yuumi {
        top: 30px;
        width: 200px;
        height: 200px;
        position: absolute;
        right: -40px;
        transform: rotate(-0.1turn);
    }
    
    .yuumi-container {
        animation: yuumiMove ease normal forwards 1000ms;
    }
    @keyframes yuumiMove {
        0% {
            transform: translateX(330px);
        }
        100% {
            transform: translateX(0px);
        }
    }
}

.home-header {
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
}

.home-header-btns {
    display: flex;
    align-items: center;
    button {
        margin-inline-start: 8px;
        padding: 8px;
        &:first-of-type {
            background-color: transparent;
            color: #0065ff;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.home-header-user {
    display: flex;
    align-items: center;
    button {
        display: flex;
        align-items: center;
        margin-inline-start: 8px;
        font-size: 14px;
        height: 40px;
    }
}

.home-logo {
    display: flex;
    align-items: center;
    img {
        margin-bottom: 16px;
        height: 50px;
        width: 143px;
    }
    h1 {
        font-weight: 700;
        font-size: 40px;
    }
}

.hero {
    h2 {
        font-weight: 600;
        font-size: 32px;
        padding-bottom: 46px;
    }
    h3 {
        font-size: 26px;
        padding-bottom: 24px;
    }

    margin: 150px auto;

    @include for-narrow-layout {
        max-width: $break-narrow;
    }

    @include for-normal-layout {
        max-width: $break-normal;
    }
    @include for-wide-layout {
        max-width: $break-wide;
    }
}

.login {
    padding: 40px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border-radius: 3px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 0px;
    text-align: center;
    height: 600px;
    max-width: 400px;
    h3 {
        font-size: 20px;
        padding-bottom: 24px;
    }
    .close-modal {
        position: absolute;
        right: 14px;
        top: 14px;
        padding: 0;
        background-color: transparent;
        color: $clr2;
        &:hover {
            color: $clr1;
        }
    }
    label {
        text-align: left;
    }
}
.signup-form {
    margin-bottom: 40px;
    button {
        width: 100%;
    }
}
.signup-inputs {
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;

    input[type="text"] {
        @include trello-txt;
        margin: 0;
        width: 100%;
        margin-bottom: 8px;
    }
    input[type="password"] {
        @include trello-txt;
        margin: 0;
        width: 100%;
        margin-bottom: 8px;
    }
}

.login-form {
    button {
        height: 46px;
        width: 100%;
    }
}

.login-inputs {
    display: flex;
    flex-direction: column;
    input[type="text"] {
        @include trello-txt;
        margin: 0;
        width: 100%;
        margin-bottom: 8px;
    }
    input[type="password"] {
        @include trello-txt;
        margin: 0;
        width: 100%;
        margin-bottom: 8px;
    }
    label {
        padding-bottom: 2px;
    }
}

.board-btn {
    position: relative;
    height: 100px;
    text-align: left;
    h2 {
        width: 100%;
        background-color: rgba($color: #000000, $alpha: 0.3);
        padding: 6px;
        font-size: 16px;
        font-weight: 600;
        position: absolute;
        // -webkit-text-stroke-width: 0.8px;
        // -webkit-text-stroke-color: black;
    }
}

.home-boards {
    max-width: 825px;
    margin: 50px auto 0;
}

.board-display {
    display: grid;
    grid-template-columns: repeat(auto-fill, 155px);
    gap: 12px;
    img {
        height: 96px;
        object-fit: cover;
    }
    div {
        width: 100%;
        height: 100%;
    }
    button {
        border-radius: 4px;
        > * {
            border-radius: 4px;
        }
        background-color: transparent;
        padding: 0;
        height: 96px;
        &:hover{
            filter: brightness(110%);
        }
    }
}
