.time-picker {
    display: flex;
    // height: 60px;
    width:100%;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    button{
        // padding: 8px;
        margin: 2px;
        width: 24px;
        height: 24px;
        font-weight: 900;
    }
    p{
        margin-top: 10px;
    }
    .time-btns{
        display: flex;
        flex-direction: column;
    }
    .hours {
        display: flex;
        // flex-direction: column;
    }
    .min {
        display: flex;
        // flex-direction: column;
    }
}
