.yuumi {
    // background-color: $clr2;

}
// .yuumi-main {
//     fill: red;
// }

// .yuumi-fur {
//     fill: blue;
// }

// .yuumi-gold-fill {
//     fill: rgb(255, 255, 255);
// }
// .yuumi-gold-stroke {
//     stroke: rgb(255, 255, 255);
// }
// .yuumi-ear {
//     fill: green;
// }
// .yuumi-ear-inside {
//     fill: hotpink;
// }
// .yuumi-nose {
//     fill: lawngreen;
// }
// .yuumi-eye {
//     fill: orange;
// }

#e4Xr2tP63Cp9_to {
    animation: e4Xr2tP63Cp9_to__to 5700ms linear infinite normal forwards;
}
@keyframes e4Xr2tP63Cp9_to__to {
    0% {
        transform: translate(97.483994px, 107.7px);
    }
    52.631579% {
        transform: translate(97.483994px, 107.7px);
    }
    56.140351% {
        transform: translate(97.483994px, 105px);
    }
    77.192982% {
        transform: translate(97.483994px, 105px);
    }
    80.701754% {
        transform: translate(97.483994px, 107.7px);
    }
    100% {
        transform: translate(97.483994px, 107.7px);
    }
}
#e4Xr2tP63Cp9_tr {
    animation: e4Xr2tP63Cp9_tr__tr 5700ms linear infinite normal forwards;
}
@keyframes e4Xr2tP63Cp9_tr__tr {
    0% {
        transform: rotate(0deg);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
    10.526316% {
        transform: rotate(-20deg);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
    21.052632% {
        transform: rotate(20deg);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
    31.578947% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
#e4Xr2tP63Cp10_tr {
    animation: e4Xr2tP63Cp10_tr__tr 5700ms linear infinite normal forwards;
}
@keyframes e4Xr2tP63Cp10_tr__tr {
    0% {
        transform: translate(131.525543px, 41.8px) rotate(0deg);
    }
    52.631579% {
        transform: translate(131.525543px, 41.8px) rotate(0deg);
    }
    56.140351% {
        transform: translate(131.525543px, 41.8px) rotate(-8deg);
    }
    77.192982% {
        transform: translate(131.525543px, 41.8px) rotate(-5deg);
    }
    84.210526% {
        transform: translate(131.525543px, 41.8px) rotate(0deg);
    }
    100% {
        transform: translate(131.525543px, 41.8px) rotate(0deg);
    }
}
#e4Xr2tP63Cp19_tr {
    animation: e4Xr2tP63Cp19_tr__tr 5700ms linear infinite normal forwards;
}
@keyframes e4Xr2tP63Cp19_tr__tr {
    0% {
        transform: translate(63.174484px, 41.8px) rotate(0deg);
    }
    52.631579% {
        transform: translate(63.174484px, 41.8px) rotate(0deg);
    }
    56.140351% {
        transform: translate(63.174484px, 41.8px) rotate(8deg);
    }
    77.192982% {
        transform: translate(63.174484px, 41.8px) rotate(5deg);
    }
    84.210526% {
        transform: translate(63.174484px, 41.8px) rotate(0deg);
    }
    100% {
        transform: translate(63.174484px, 41.8px) rotate(0deg);
    }
}
#e4Xr2tP63Cp32_to {
    animation: e4Xr2tP63Cp32_to__to 5700ms linear infinite normal forwards;
}
@keyframes e4Xr2tP63Cp32_to__to {
    0% {
        transform: translate(97.299999px, 104.699997px);
    }
    52.631579% {
        transform: translate(97.299999px, 104.699997px);
    }
    56.140351% {
        transform: translate(97.299999px, 102px);
    }
    77.192982% {
        transform: translate(97.299999px, 102px);
    }
    80.701754% {
        transform: translate(97.299999px, 104.699997px);
    }
    100% {
        transform: translate(97.299999px, 104.699997px);
    }
}
#e4Xr2tP63Cp33 {
    animation: e4Xr2tP63Cp33_c_o 5700ms linear infinite normal forwards;
}
@keyframes e4Xr2tP63Cp33_c_o {
    0% {
        opacity: 0;
    }
    52.631579% {
        opacity: 0;
    }
    56.140351% {
        opacity: 1;
    }
    77.192982% {
        opacity: 1;
    }
    80.701754% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
#e4Xr2tP63Cp44_ts {
    animation: e4Xr2tP63Cp44_ts__ts 5700ms linear infinite normal forwards;
}
@keyframes e4Xr2tP63Cp44_ts__ts {
    0% {
        transform: translate(97.349998px, 75.900005px) scale(1, 1);
    }
    28.070175% {
        transform: translate(97.349998px, 75.900005px) scale(1, 1);
        animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
    }
    31.578947% {
        transform: translate(97.349998px, 75.900005px) scale(1, 0.16402);
        animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
    }
    35.087719% {
        transform: translate(97.349998px, 75.900005px) scale(1, 1);
        animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
    }
    38.596491% {
        transform: translate(97.349998px, 75.900005px) scale(1, 1);
        animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
    }
    42.105263% {
        transform: translate(97.349998px, 75.900005px) scale(1, 0.16402);
        animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
    }
    45.614035% {
        transform: translate(97.349998px, 75.900005px) scale(1, 1);
    }
    52.631579% {
        transform: translate(97.349998px, 75.900005px) scale(1, 1);
        animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
    }
    56.140351% {
        transform: translate(97.349998px, 75.900005px) scale(1, 0.16402);
        animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
    }
    77.017544% {
        transform: translate(97.349998px, 75.900005px) scale(1, 0.16402);
        animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
    }
    80.701754% {
        transform: translate(97.349998px, 75.900005px) scale(1, 1);
        animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
    }
    91.228070% {
        transform: translate(97.349998px, 75.900005px) scale(1, 1);
        animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
    }
    94.736842% {
        transform: translate(97.349998px, 75.900005px) scale(1, 0.16402);
        animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
    }
    98.245614% {
        transform: translate(97.349998px, 75.900005px) scale(1, 1);
    }
    100% {
        transform: translate(97.349998px, 75.900005px) scale(1, 1);
    }
}
#e4Xr2tP63Cp44 {
    animation: e4Xr2tP63Cp44_c_o 5700ms linear infinite normal forwards;
}
@keyframes e4Xr2tP63Cp44_c_o {
    0% {
        opacity: 1;
    }
    52.631579% {
        opacity: 1;
    }
    56.140351% {
        opacity: 0;
    }
    77.192982% {
        opacity: 0;
    }
    80.701754% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
#e4Xr2tP63Cp53 {
    animation: e4Xr2tP63Cp53_c_o 5700ms linear infinite normal forwards;
}
@keyframes e4Xr2tP63Cp53_c_o {
    0% {
        opacity: 0;
    }
    52.631579% {
        opacity: 0;
    }
    56.140351% {
        opacity: 1;
    }
    77.192982% {
        opacity: 1;
    }
    80.701754% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
