* {
    box-sizing: border-box;
}
html {
    overflow: hidden;
}
body {
    // position: relative;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue,
        sans-serif;
    font-size: 14px;
    color: $clr1;
    // background-color: cornflowerblue;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 400;
}

p {
    margin: 0;
}

img {
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

button {
    border-radius: 3px;
    border: none;
    color: $clr1;
    &:hover {
        cursor: pointer;
    }
}

textarea {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue,
        sans-serif;
    border: none;
    color: $clr1;
}

.control-btn {
    @include control-btn;
}

.to-user {
    text-align: center;
    background-color: $clr3;
    border-radius: 50%;
    padding-top: 4px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-size: 16px;
    cursor: default;
}

.loader-svg {
    img {
        height: 250px;
        width: 300px;
    }
}

.loader-svg-global {
    z-index: 50;
    position: fixed;
    inset: 0;
    margin: auto;
    height:170px;
    img {
        height: 170px;
    }
}
