/* Media queries Breakpoint mixins */

@mixin for-mobile-layout {
  @media (max-width: $break-narrow) {
    @content;
  }
}

@mixin for-narrow-layout {
  @media (min-width: $break-narrow) {
    @content;
  }
}

@mixin for-normal-layout {
  @media (min-width: $break-normal) {
    @content;
  }
}

@mixin for-wide-layout {
  @media (min-width: $break-wide) {
    @content;
  }
}

/* Media  Mixins */

//aspect ratio mixin
@mixin aspect-ratio($width, $height) {
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    display: block;
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  > img {
    height: 100%;
    object-fit: cover;
  }
}

//Mixins Trello

@mixin control-btn {
  color: $clr1;
  background-color: $clr4;
  min-width: 32px;
  height: 32px;
  border-radius: 3px;
  border: none;
  padding: 6px 8px;
  &:hover {
    background-color: $clr3;
  }
}

@mixin trello-txt {
    width: 100%;
    outline: none;
    border: none;
    box-shadow: inset 0 0 0 2px #dfe1e6;
    background-color: #fafbfc;
    border-radius: 3px;
    line-height: 20px;
    padding: 8px 12px;
    margin: 0;
}

// Mixin for removing hover efects on iphone screen
@mixin hover-supported {
  @media not all and (pointer: coarse) {
    &:hover {
      @content;
    }
  }
}
