
// COLOR PALETTE
$clr1: #172b4d;
$clr2: #5e6c84;
$clr3: #dfe1e6;
$clr4: #eaecef;
$clr5: #fff;
$yuumiPurple: #b783d6;

// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 640px;
$break-wide: 960px;